<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scut.joe.unidesktop">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/uni"
        android:label="@string/app_name"
        android:roundIcon="@drawable/uni"
        android:supportsRtl="true">
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- 增加launcher配置-->
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".apps.SearchActivity"
                  android:theme="@style/TransparentStyleBottom" >

        </activity>
        <activity android:name=".apps.MessageActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="@string/message_name"/>
        <activity android:name=".apps.ContactsActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="@string/contacts_name"/>
        <activity android:name=".apps.PhoneActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="@string/phone_name"/>
        <activity android:name=".apps.WeatherActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="@string/weather_name"/>
    </application>

</manifest>